.loading,
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact-info {
  font-size: 20px;
}